<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <!--    android:icon="@mipmap/ic_launcher"-->
    <!--    android:label="智能家居"-->
    <!--    android:largeHeap="true"-->
    <!--    android:theme="@style/AppTheme"-->
    <!--    android:roundIcon="@mipmap/ic_launcher_round"-->
    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainGatewayActivity">
            <intent-filter>
                <data
                    android:host="main"
                    android:path="/mainDetail"
                    android:scheme="scheme" />
                <!--下面这几行也必须得设置-->
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!--            <intent-filter android:priority="0">-->
            <!--&lt;!&ndash;                <action android:name="android.intent.action.MAIN" />&ndash;&gt;-->
            <!--                <action android:name="android.intent.action.BOOT_COMPLETED"/>-->
            <!--&lt;!&ndash;                <category android:name="android.intent.category.HOME" />&ndash;&gt;-->
            <!--&lt;!&ndash;                <category android:name="android.intent.category.DEFAULT" />&ndash;&gt;-->
            <!--&lt;!&ndash;                <category android:name="android.intent.category.LAUNCHER" />&ndash;&gt;-->
            <!--            </intent-filter>-->
        </activity>
        <activity android:name=".SettingActivity" />
        <activity android:name=".CallConnectActivity" />

        <service
            android:name="com.hwellyi.smarthome.HYJniInterface"
            android:enabled="true"
            android:process=":jni">
            <intent-filter>
                <action android:name="com.hwellyi.smarthome.IMyAidlInterface" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </service>

        <!-- 声明关屏组件 -->
    </application>

</manifest>